extends ../layouts/app.pug

block content
  .row
    .col
    .col-5
      h3.mb-4 Регистрация
      +formFor(action=route('createUser') method='post')
        +input(registrationForm, 'firstName', errors)
        +input(registrationForm, 'lastName', errors)
        +input(registrationForm, 'email', errors)
        +input(registrationForm, 'password', errors)(minLength = '3')
        +submit(registrationForm).btn-block
    .col