extends ../layouts/app.pug

block content
  .row
    .col
    .col-6
      +formFor(action=route('labelsCreate') method='post')
        +input(labelsForm, 'name', errors)
        +submit(labelsForm).btn-block
    .col