
if tasks.length > 0
  +formFor().justify-content-between.mb-3.form-inline
    - let n = 8
    +select(filterForm, 'taskStatuses', 'taskStatusId', n++)
    +select(filterForm, 'executors', 'executorId', n++)
    +select(filterForm, 'labels', 'labels.id', n++, true)
    +submit(filterForm).bnt-block
