
if tasks.length > 0
  +formFor().justify-content-between.mb-3.form-inline
    +select(filterForm, 'taskStatusId', taskStatuses, true, false)
    +select(filterForm, 'executorId', executors, true, false)
    +select(filterForm, 'labels.id', labels, true, false)
    +submit(filterForm).bnt-block
