extends ../layouts/app.pug

block content
  .jumbotron
    - const name = reply.request.signedIn ? reply.request.currentUser.firstName : t('views.welcome.guest')
    .display-4= `${t('views.welcome.hello')}, ${name}!`
    p.lead= t('views.welcome.description')