doctype html
html
  head
    title task-manager
    script(src=assetsPath('main.js'))
    link(href=assetsPath('main.css'))
  body.d-flex.flex-column
    nav.navbar.navbar-light.navbar-expand-lg
      a.navbar-brand(href="/") Менеджер задач
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="#") Пользователи
        ul.navbar-nav
          if reply.request.signedIn
            li.nav-item
              form.form-inline(action='/session' method='post')
                input(type="hidden" name="_method" value="DELETE")
                button.btn.btn-outline-danger(type="submit") Выйти
          else
            li.nav-item
              a.btn.btn-light.mr-2(href="/session/new") Вход
            li.nav-item
              a.btn.btn-outline-primary(href="/users/new") Регистрация
    main.container(role="main").mt-5
      block content