extends ../layouts/app.pug

block content
  .row
    .col
    .col-5
      h3.mb-4= t('views.session.new.signIn')
      +formFor(action=route('createSession') method='post')
        +input(signInForm, 'email')
        +input(signInForm, 'password')
        +submit(signInForm).btn-block    
    .col